@import "tailwindcss";

@font-face {
  font-family: Rubik;
  font-style: normal;
  font-weight: 300 400 700;
  font-display: swap;
  src: url("../src/assets/fonts/Rubik/Rubik-VariableFont_wght.ttf") format("woff2");
}

@theme {
    /* Colores del modo claro */
    --color-primary-light: #E4A97C;
    --color-accent-light: #AB886D;
    --color-secondary-light: #6DA4AB;
    --color-bg-light: #EDEDED;

    /* Colores del modo oscuro */
    --color-primary-dark: #83481B;
    --color-accent-dark: #926F54;
    --color-secondary-dark: #548B92;
    --color-bg-dark: #121212;

    --font-Rubik: 'Rubik';
}

input {
    border-width: 2px;
    padding: 6px;
    margin-bottom: 1%;
    border-radius: 8px;
}